// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fffefb;


// Primary/body text
$mainFont: 'Jost', sans-serif;
$mainFontSize: 30px;
$mainColor: black;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Abhaya Libre', Impact, sans-serif;
$headingColor: #006791;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

$codeFont: monospace;

// Links and actions
$linkColor: #437597;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: black;
$selectionColor: white;

// start using css here
#title-slide > h1 {
  color: #00244c;
}

.title-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title-slide > .author:first-of-type {
  margin-top: 320px;
}

.reveal .slide-logo {
  height: 120px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .progress {
  height: 7px; /* Adjust this value to increase the height */
}

.flowchart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flowchart .box {
  background-color: dodgerblue;
  color: white;
  padding: 0px 10px; /* Reduce padding */
  border-radius: 50px;
  text-align: center;
  min-width: 150px; /* Adjust minimum width */
  font-size: 1em; /* Adjust font size */
  margin: 0; /* Remove margin */
  line-height: 1.2; /* Adjust line height */
  opacity: 0.2; /* Start with greyed out boxes */
  transition: opacity 0.5s; /* Smooth transition */
}

.flowchart .arrow {
  font-size: 1.5em; /* Reduce arrow size */
  color: grey;
  margin: 0; /* Remove margin */
  line-height: 1; /* Adjust line height to be smaller */
  opacity: 0.2; /* Start with greyed out arrows */
  transition: opacity 0.5s; /* Smooth transition */
}